
.Gebratene{
    color: black;
    background-color: green;
    text-transform: uppercase;

}
body{
    background-color: rgb(205, 161, 50);
}
h2{
    color: green;
    text-transform: uppercase;
}
h3{
    color: green;
    text-transform: uppercase;
}
h4{
    color: green;
    text-transform: uppercase;
}
h5{
    color: green;

}

